<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} - Event List</title>
</head>
<body>
    <h1>Event List</h1>
    <form action="/events" method="post"> 
      <label for="date">Date</label>
      <input type="text" name="date" id="date">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="number_of_guests">Number of guests</label>
      <input type="text" name="number_of_guests" id="number_of_guests">
      <label for="location">Location</label>
      <input type="text" name="location" id="location">
      <label for="description">Description</label>
      <textarea name="description" rows="1" cols="30"></textarea>
      <input type="submit" value="Add Event">
    </form>
    {% for event in event_list %}  
    <div>
      <p>
        {{ event.date }} <b>{{ event.name }}</b>, <b>{{ event.number_of_guests }}</b>, <b>{{ event.location }}</b>, <b>{{ event.description }}</b>.
      </p>
    </div>
    {% endfor %}
    
</body>
</html>